$primary-color: #2196F3;
$danger-color: #e74c3c;

body {
    margin: 0px;
    padding: 0px;
    font-family: lato;
    color: #121212;

    #container {
        width: 100vw;
        height: 100vh;
        background-color: #eee;
        display: flex;
        flex-direction: column;

        #tab-headers-wrapper {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            background-color: rgba(255,255,255,0.5);

            #tab-headers {
                display: inline-block;

                .tab-header {
                    position: relative;;
                    padding: 10px 24px 6px;
                    display: inline-block;
                    font-size: 0.9em;
                    font-family: Roboto;
                    cursor: pointer;

                    &.active {
                        border-bottom: 2px solid $primary-color;
                    }

                    .delete-tab {
                        position: absolute;
                        padding: 0;
                        top: 12px;
                        right: 4px;
                        color: $danger-color;
                        display: none;
                        background-color: transparent;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        font-size: 0.8em;
                    }

                    &:hover {
                        .delete-tab {
                            display: inherit;
                        }
                    }
                }
            }

            #add-tab {
                display: none;
                padding: 0 10px;
                margin: 0;
                background-color: transparent;
                color: $primary-color;
                border: none;
                outline: none;
                cursor: pointer;
            }

            &:hover {
                #add-tab {
                    display: inline-block;
                }
            }
        }

        #tabs {
            flex: 1;

            .tab {
                width: 100%;
                height: 100%;
                background-color: #fff;
                display: hidden;
            }
        }
    }


    .editor {
        display: inline-block;
        position: absolute;
        border: 1px solid transparent;

        .handle {
            display: none;
            position: absolute;
            left: 8px;
            top: 8px;
            cursor: move;
            color: rgba(0, 0, 0, 0.3);
        }

        &:hover {
            .handle {
                display: inherit;
            }
            border: 1px dashed rgba(0,0,0,0.2);
        }

        .text-holder {
            border: none;
            outline: none;
            padding: 24px;
            font-size: 1.2em;
        }
    }

}
